{% extends "base.html" %}

{% block title %}Lista de Productos{% endblock %}

{% block content %}
<h2>Lista de Productos</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Descripción</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Acciones</th>
    </tr>
    {% for producto in productos %}
    <tr>
        <td>{{ producto[0] }}</td>
        <td>{{ producto[1] }}</td>
        <td>{{ producto[2] }}</td>
        <td>{{ producto[3] }}</td>
        <td>
            <a href="{{ url_for('editar_producto', id=producto[0]) }}">Editar</a>
            <a href="{{ url_for('eliminar_producto', id=producto[0]) }}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
