<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>CRUD de Productos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">CRUD de Productos</h1>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-success">
              {{ messages[0] }}
            </div>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>
